    <h1>test app home</h1>
    <p> this is home page for <a href="http://www.aw8.com/"> test app </a> sample application
    </p>
    <%= link_to "Sign up now!", '#', :class => "signup_button round" %>

